<div class="bg-yellow-500">
  <div>
    <h1 class="text-2xl p-3">Login</h1>
    <form class="bg-green-500">
      <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />
      </div>
      <div class="">
        <label for="password-login">Password:</label>
        <input class="" type="password" id="password-login" />
      </div>
      <div class="">
        <button class="" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="">
    <h2 class="">Create Account</h2>
    <form class="">
      <div class="">

      </div>
      <div class="">
        <label for="email-signup">Email:</label>
        <input class="" type="text" id="email-signup" />
      </div>
      <div class="">
        <label for="password-signup">Password:</label>
        <input class="" type="password" id="password-signup" />
      </div>
      <div class="">
        <button class="" type="submit">Create Account</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>
<script src="/js/createAccount.js"></script>