<div class="row justify-space-between-md">
  <div class="login-card">
    <h1 class="title">Login</h1>
    <form class="form-login">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2 class="page-title">Create Account</h2>
    <form class="form-signup">
      <div class="form-group">

      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create Account</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>
<script src="/js/createAccount.js"></script>