
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-white">
    <main class="container w-2/3 py-16 mx-auto bg-slate-50">
      <div class="max-w-lg mx-auto">
        <p class="text-xl font-semibold text-gray-800 pb-10 text-center">
          LOGIN
        </p>
        <form class="form-login">
          <div class="form-group">
          <div>
                  <label class="text-gray-700 dark:text-gray-200 pt-55" for="email-login">Email Address</label>
                  <input id="email-login" type="email" class="form-input block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
              </div>
              <div class="form-group">
                  <label class="text-gray-700 dark:text-gray-200" for="password-login">Password</label>
                  <input id="password-login" type="password" class="form-input block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
              </div>
              <div class="form-group pt-5">
                 <button class="btn btn-primary py-2 px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600" type="submit">login</button>
              </div>
      </form>
      </div>
    </main>
    <script src="/js/login.js"></script>
   
      
  </body>
</html>
