
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-white">
    <header class="container p-6 mx-auto lg:flex lg:justify-between lg:items-center">
    </header>
    <main class="container mx-auto w-2/3 py-16 bg-slate-50">
      <div class="max-w-lg mx-auto">
        <div class="register-card">
        <p class="text-xl font-semibold text-gray-800 pb-10">
          Please fill out the information below to get started.
        </p>
        <form class="form-signup">
          <div class="form-group">

          </div>
          <div class="form-group">
          <div>          
                <label class="text-black-700" for="name-signup">Name</label>
                <input id="name-signup" type="text" class="form-input block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
              </div>
              <div class="form-group">
                  <label class="text-gray-700 dark:text-gray-200" for="email-signup">Email Address</label>
                  <input id="email-signup" type="email" class="form-input block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
              </div>
              <div class="form-group">
                  <label class="text-gray-700 dark:text-gray-200" for="password-signup">Password</label>
                  <input id="password-signup" type="password" class="form-input block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
              </div>
            
              <div class="form-group">
          <div class="flex justify-between items-center mt-8">
            <button class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Submit</button>
            <p class="pl-5">
              Already have an account? <a href="#" class="text-blue-600 underline">Login</a>
            </p>
          </div>
      </form>
      </div>
    </main>
    <script src="/js/createAccount.js"></script>
   
     
  </body>
  
</html>